.testimonials_container {
  background-color: #FFF;
  float: left;
  height: auto;
  width: 100%; }
  @media only screen and (min-width: 320px) {
    .testimonials_container {
      padding: 4px; } }
  @media only screen and (min-width: 480px) {
    .testimonials_container {
      padding: 6px; } }
  @media only screen and (min-width: 640px) {
    .testimonials_container {
      padding: 8px; } }
  @media only screen and (min-width: 768px) {
    .testimonials_container {
      padding: 12px; } }
  @media only screen and (min-width: 1024px) {
    .testimonials_container {
      padding: 14px; } }
  .testimonials_container .add_testemonial_btn {
    text-align: right;
    margin: 20px 15px;
    margin-right: 0;
    width: calc(100% - 15px); }
    .testimonials_container .add_testemonial_btn button {
      background-color: orange;
      border: 0;
      border-radius: 100%;
      color: black;
      cursor: pointer;
      padding: 4px 10px; }
      .testimonials_container .add_testemonial_btn button:hover {
        color: white !important; }
  .testimonials_container .testimonials_content {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
