.testimonial {
  border: 1px solid gray;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-right: inherit;
  width: 100%; }
  .testimonial .name_el {
    background-color: #c1bebe;
    border-radius: 15px 15px 0 0;
    display: flex;
    padding: 7px;
    width: 100%; }
    .testimonial .name_el .initials {
      border-radius: 100%;
      font-size: 22px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      margin-right: 15px;
      text-transform: uppercase;
      text-align: center;
      width: 40px; }
    .testimonial .name_el .testimonial_image {
      border-radius: 100%;
      font-size: 22px;
      font-weight: bold;
      margin-right: 15px;
      text-transform: uppercase;
      text-align: center; }
      @media only screen and (min-width: 320px) {
        .testimonial .name_el .testimonial_image {
          height: 40px;
          line-height: 40px;
          width: 40px; } }
      @media only screen and (min-width: 480px) {
        .testimonial .name_el .testimonial_image {
          height: 50px;
          line-height: 50px;
          width: 50px; } }
      @media only screen and (min-width: 640px) {
        .testimonial .name_el .testimonial_image {
          height: 60px;
          line-height: 60px;
          width: 60px; } }
      @media only screen and (min-width: 768px) {
        .testimonial .name_el .testimonial_image {
          height: 70px;
          line-height: 70px;
          width: 70px; } }
      @media only screen and (min-width: 1024px) {
        .testimonial .name_el .testimonial_image {
          height: 80px;
          line-height: 80px;
          width: 80px; } }
      .testimonial .name_el .testimonial_image img {
        border-radius: 50%;
        height: 100%;
        width: 100%; }
    .testimonial .name_el .name {
      text-transform: capitalize;
      width: calc(100% - 55px); }
      @media only screen and (min-width: 320px) {
        .testimonial .name_el .name {
          font-size: 22px;
          line-height: 40px; } }
      @media only screen and (min-width: 480px) {
        .testimonial .name_el .name {
          font-size: 24px;
          line-height: 50px; } }
      @media only screen and (min-width: 640px) {
        .testimonial .name_el .name {
          font-size: 26px;
          line-height: 60px; } }
      @media only screen and (min-width: 768px) {
        .testimonial .name_el .name {
          font-size: 28px;
          line-height: 70px; } }
      @media only screen and (min-width: 1024px) {
        .testimonial .name_el .name {
          font-size: 30px;
          line-height: 80px; } }
  .testimonial .testimonial_content {
    padding: 7px;
    text-align: justify;
    width: 100%; }
    .testimonial .testimonial_content::first-letter {
      text-transform: uppercase; }
  .testimonial .testimonial_time_el {
    color: gray;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: flex-end;
    padding: 7px;
    width: 100%; }
    .testimonial .testimonial_time_el .testimonial_city {
      margin-right: 5px; }

.actions {
  text-align: center;
  width: 100%; }
  .actions button {
    background-color: #25bed5;
    margin: 0 10px; }
