.items--container{
    background-color: #FFF;
    float: left;
    height: auto;
    width: 100%;

    @media only screen and (min-width: 320px) {
        padding: 4px;
    }

    @media only screen and (min-width: 480px) {
        padding: 6px;
    }

    @media only screen and (min-width: 640px) {
        padding: 8px;
    }

    @media only screen and (min-width: 768px) {
        padding: 12px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 14px;
    }
    .section_search_and_filter{
        color: #9d9c9c;
        width: 100%;
        .section_search{
            display: flex;
            margin-bottom: 15px;
            width: 100%;

            @media only screen and (min-width: 320px) {
                flex-wrap: wrap;
            }
        
            @media only screen and (min-width: 480px) {
                flex-wrap: wrap;
            }
        
            @media only screen and (min-width: 640px) {
                flex-wrap: inherit;
            }
        
            @media only screen and (min-width: 768px) {
                flex-wrap: inherit;
            }
        
            @media only screen and (min-width: 1024px) {
                flex-wrap: inherit;
            }
            .search_field{
                display: flex;

                @media only screen and (min-width: 320px) {
                    flex-basis: 100%;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                }
            
                @media only screen and (min-width: 480px) {
                    flex-basis: 100%;
                    flex-wrap: inherit;
                    margin-bottom: 15px;
                }
            
                @media only screen and (min-width: 640px) {
                    flex-basis: 68%;
                    flex-wrap: inherit;
                    margin-bottom: 0px;
                }
            
                @media only screen and (min-width: 768px) {
                    flex-basis: 66%;
                    flex-wrap: inherit;
                    margin-bottom: 0px;
                }
            
                @media only screen and (min-width: 1024px) {
                    flex-basis: 66%;
                    flex-wrap: inherit;
                    margin-bottom: 0px;
                }
                .search_input, .city-filter{
                    padding: 0 15px;
                }
                .search_input{
                    border: 0 !important;
                    height: 38px !important;
                    padding: 0;
                    position: relative;
                    @media only screen and (min-width: 320px) {
                        flex-basis: 100%;
                        margin-bottom: 15px;
                    }
                
                    @media only screen and (min-width: 480px) {
                        flex-basis: 40%;
                        margin-bottom: 0px;
                    }
                
                    @media only screen and (min-width: 640px) {
                        flex-basis: 40%;
                        margin-bottom: 0px;
                    }
                
                    @media only screen and (min-width: 768px) {
                        flex-basis: 50%;
                        margin-bottom: 0px;
                    }
                
                    @media only screen and (min-width: 1024px) {
                        flex-basis: 50%;
                        margin-bottom: 0px;
                    }
                }
                input.search_input{
                    border: 1px solid rgb(221, 221, 221) !important;
                    border-radius: 15px !important;
                    color: #9d9c9c;
                    height: 37px !important;
                    padding: 0 10px !important;
                    display: inline-flex;
                    justify-content: space-between;    
                    outline: currentcolor none medium;
border: medium none;
font-size: 14px;
padding: 10px;
flex: 1 1 0%;
color:rgb(90, 90, 90);
font-weight: 100;
height: 33px;
margin: 0;
font-family: inherit;
line-height: inherit; 
border-radius: 4px;
border: 1px solid hsl(0,0%,70%);
                }
                .city-filter{
                    display: flex;
                    @media only screen and (min-width: 320px) {
                        flex-basis: 100%;
                        padding-right: 0; 
                    }
                
                    @media only screen and (min-width: 480px) {
                        flex-basis: 60%;
                        padding-right: 0; 
                    }
                
                    @media only screen and (min-width: 640px) {
                        flex-basis: 60%;
                        padding-right: 15px; 
                    }
                
                    @media only screen and (min-width: 768px) {
                        flex-basis: 50%;
                        padding-right: 15px; 
                    }
                
                    @media only screen and (min-width: 1024px) {
                        flex-basis: 50%;
                        padding-right: 15px; 
                    }
                    label{
                        flex-basis: 60px;
                        line-height: 35px;
                        margin-bottom: 0;
                        margin-right: 5px;
                        text-align: right;
                    }
                    .cities_select{
                        flex-basis: calc(100% - 65px);
                        *{
                            color: #9d9c9c !important;
                        }
                    }
                }
            }
            .advanced_filter{
                padding: 0 15px;
                padding-right: 0;
                text-align: right;
                @media only screen and (min-width: 320px) {
                    flex-basis: 100%;
                }
            
                @media only screen and (min-width: 480px) {
                    flex-basis: 100%;
                }
            
                @media only screen and (min-width: 640px) {
                    flex-basis: 31%;
                }
            
                @media only screen and (min-width: 768px) {
                    flex-basis: 33%;
                }
            
                @media only screen and (min-width: 1024px) {
                    flex-basis: 33%;
                }
                button{
                    background-color: #f4f4f4;
                    border: 0;
                    border-radius: 15px;
                    color: #9d9c9c;
                    cursor: pointer;
                    display: inline-flex;
                    font-weight: bold;
                    height: 38px;
                    line-height: 35px;
                    outline: none;
                    padding: 0 17px;
                    padding-right: 0;
                }
            }
        }
        #advanced_filter_options{
            background-color: #f4f4f4;
            border-radius: 15px;
            flex-wrap: wrap;
            padding: 5px;

            @media only screen and (min-width: 320px) and (max-width: 479px) {
                :nth-child(1n){
                    margin-right: 0% !important;
                }
            }
        
            @media only screen and (min-width: 480px) and (max-width: 639px) {
                :nth-child(2n){
                    margin-right: 0% !important;
                }
            }
        
            @media only screen and (min-width: 640px) and (max-width: 767px) {
                :nth-child(3n){
                    margin-right: 0% !important;
                }
            }
        
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
                :nth-child(3n){
                    margin-right: 0% !important;
                }
            }
        
            @media only screen and (min-width: 1024px) {
                :nth-child(4n){
                    margin-right: 0 !important;
                }
            }

            .item_filter{
                margin-bottom: 10px;
                margin-right: 2%;
                @media only screen and (min-width: 320px) {
                    flex-basis: 100%;
                }

                @media only screen and (min-width: 480px) {
                    flex-basis: 49%;
                }

                @media only screen and (min-width: 640px) {
                    flex-basis: 32%;
                }

                @media only screen and (min-width: 768px) {
                    flex-basis: 32%;
                }

                @media only screen and (min-width: 1024px) {
                    flex-basis: 23.5%;
                }
                &.checkbox{
                    .choices{
                        display: flex;
                        .a_choice{
                            flex-basis: 50%;
                            .container{
                                display: block;
                                font-size: 22px;
                                padding-left: 35px;
                                position: relative;
                                user-select: none;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                label{
                                    margin-bottom: 0;
                                }
                                input, .checkmark{
                                    cursor: pointer;
                                    height: 25px;
                                    left: 0;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 25px;
                                }
                                input{
                                    opacity: 0;
                                    z-index: 2;
                                    &:checked ~ .checkmark{
                                        background-color: #2196F3;
                                    }
                                    &:checked ~ .checkmark:after{
                                        display: block;
                                    }
                                }
                                .checkmark{
                                    background-color: #dddcdc;
                                    border-radius: 100%;
                                    &:after{
                                        border: solid white;
                                        border-width: 0 3px 3px 0;
                                        content: "";
                                        display: none;
                                        height: 10px;
                                        left: 10px;
                                        position: absolute;
                                        top: 7px;
                                        transform: rotate(45deg);
                                        width: 5px;
                                    }
                                }
                            }

                            &:hover{
                                input ~ .checkmark{
                                    background-color: #ccc;
                                }
                            }
                        }
                    }
                }
            }

            &:not(.collapse){
                display: flex;
            }
        }
    }
    .items--list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        min-height: 350px;

        @media only screen and (min-width: 320px) and (max-width: 479px) {
            >:nth-child(1n){
                margin-right: 0% !important;
            }
        }

        @media only screen and (min-width: 480px) and (max-width: 639px) {
            >:nth-child(1n){
                margin: auto;
            }
        }

        @media only screen and (min-width: 640px) and (max-width: 767px) {
            >:nth-child(2n){
                margin-right: 0% !important;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            >:nth-child(2n){
                margin-right: 0% !important;
            }
        }

        @media only screen and (min-width: 1024px) {
            >:nth-child(3n){
                margin-right: 0 !important;
            }
        }
        .empty_page_container{
            width: 100%;
            .empty_page{
                padding: 15px;
                width: 100%;
                div{
                    color: #565656;
                    font-size: 35px;
                    font-weight: bold;
                    text-transform: uppercase;

                    @media only screen and (min-width: 320px) {
                        font-size: 30px;
                    }

                    @media only screen and (min-width: 480px) {
                        font-size: 35px;
                    }

                    @media only screen and (min-width: 640px) {
                        font-size: 35px;
                    }

                    @media only screen and (min-width: 768px) {
                        font-size: 35px;
                    }

                    @media only screen and (min-width: 1024px) {
                        font-size: 35px;
                    }
                }
                p{
                    &.child{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}