.page_content{
    .body{
        position: relative;
        .content{
            .property_container_print{
                height: auto;
                margin: 0px auto;
                margin-top: 0px;

                @media only screen and (min-width: 320px) {
                    width: 320px;
                }

                @media only screen and (min-width: 480px) {
                    width: 480px;
                }

                @media only screen and (min-width: 640px) {
                    width: 640px;
                }

                @media only screen and (min-width: 768px) {
                    width: 768px;
                }

                @media only screen and (min-width: 1024px) {
                    width: 860px;
                }
                .pdf-container{
                    .pdf-body{
                        #property_details_to_print{
                            float: inherit;
                            width: 100%;
                            .property_details_to_print-header{
                                float: left;
                                height: auto;
                                margin-left: 0px;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                width: 100%;
                                .contact_card{
                                    border: solid 1px #333333;
                                    color: #000;
                                    float: left;
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 11px;
                                    height: 130px;
                                    margin: 0px;
                                    margin-right: 1.4%;
                                    padding: 0px;
                                    width: 68.4%;
                                    .title{
                                        background-color: #666666;
                                        color: #ffffff;
                                        font-size: 14px;
                                        font-weight: bold;
                                        text-align: center;
                                    }
                                }
                                .property_id{
                                    border: solid 1px #333333;
                                    border-radius: 12px;
                                    float: left;
                                    font-family: "Times New Roman", Times, serif;
                                    height: 130px;
                                    margin: 0px;
                                    position: relative;
                                    width: 29.2%;

                                    @media only screen and (min-width: 320px) {
                                        font-size: 10px;
                                    }

                                    @media only screen and (min-width: 480px) {
                                        font-size: 13px;
                                    }

                                    @media only screen and (min-width: 640px) {
                                        font-size: 14px;
                                    }

                                    @media only screen and (min-width: 768px) {
                                        font-size: 15px;
                                    }

                                    @media only screen and (min-width: 1024px) {
                                        font-size: 15px;
                                    }
                                    div{
                                        color: #555555;
                                        left: 50%;
                                        position: absolute;
                                        text-align: center;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 100%;
                                    }
                                }
                            }
                            .property_details_to_print-content{
                                .title{
                                    border-bottom-color: #666;
                                    border-bottom-style: solid;
                                    border-bottom-width: 2px;
                                    border-top-color: #666;
                                    border-top-style: solid;
                                    border-top-width: 2px;
                                    color: #CC0033;
                                    float: left;
                                    font-family: "Times New Roman", Times, serif;
                                    font-size: 24px;
                                    font-weight: bold;
                                    height: auto;
                                    margin-bottom: 10px;
                                    margin-left: 0px;
                                    margin-top: 20px;
                                    padding-bottom: 2px;
                                    padding-top: 2px;
                                    text-align: center;
                                    width: 100%;
                                }
                                .address_price{
                                    display: flex;
                                    flex-wrap: wrap;
                                    float: left;
                                    height: auto;
                                    margin-bottom: 15px;
                                    margin-left: 0px;
                                    margin-top: 0px;
                                    padding: 0px;
                                    width: 100%;
                                    .address, .price{
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 12px;
                                        font-weight: bold;
                                    }
                                    .address{
                                        color: #000;
                                        text-align: left;
                                        width: 70%;
                                    }
                                    .price{
                                        color: #C03;
                                        text-align: right;
                                        width: 30%;
                                    }
                                }
                                .property_details_to_print_map-information{
                                    display: flex;
                                    margin-bottom: 15px;
                                    width: 100%;
                                    .image_maps, .card_maps{
                                        border: 1px solid;

                                        @media only screen and (min-width: 320px) {
                                            height: 150px;
                                            padding: 2px;
                                        }

                                        @media only screen and (min-width: 480px) {
                                            height: 190px;
                                            padding: 4px;
                                        }

                                        @media only screen and (min-width: 640px) {
                                            height: 230px;
                                            padding: 6px;
                                        }

                                        @media only screen and (min-width: 768px) {
                                            height: 270px;
                                            padding: 8px;
                                        }

                                        @media only screen and (min-width: 1024px) {
                                            height: 300px;
                                            padding: 10px;
                                        }
                                    }
                                    .image_maps{
                                        margin-right: 1%;
                                        width: 39%;
                                        .image_map{
                                            width: 100%;

                                            @media only screen and (min-width: 320px) {
                                                height: 138px;
                                                margin: 4px 0;
                                            }

                                            @media only screen and (min-width: 480px) {
                                                height: 166px;
                                                margin: 8px 0;
                                            }

                                            @media only screen and (min-width: 640px) {
                                                height: 194px;
                                                margin: 12px 0;
                                            }

                                            @media only screen and (min-width: 768px) {
                                                height: 222px;
                                                margin: 16px 0;
                                            }

                                            @media only screen and (min-width: 1024px) {
                                                height: 240px;
                                                margin: 20px 0;
                                            }
                                        }
                                    }
                                    .card_maps{
                                        width: 60%;
                                        .static_map{
                                            height: 100%;
                                            width: 100%;
                                            img{
                                                height: 100%;
                                                width: 100%;
                                            }
                                        }
                                        &.full_width{
                                            width: 80%;
                                            margin: 0 10%;
                                        }
                                    }
                                }
                                .property_details_to_print_information{
                                    display: flex;
                                    margin-bottom: 15px;
                                    width: 100%;
                                    .property_description{
                                        border-right: 6px solid #999;
                                        width: 60%;
                                        padding-right: 10px;
                                        .d_title{
                                            border-bottom: 1px solid #8A8A8A;
                                            border-top: 1px solid #8A8A8A;
                                            float: left;
                                            font-size: 15px;
                                            font-weight: bold;
                                            height: auto;
                                            margin-bottom: 10px;
                                            padding: 2px;
                                            text-align: left;
                                            text-decoration: none;
                                            text-transform: uppercase;
                                            width: 100%;
                                        }
                                        .description{
                                            margin-bottom: 20px;
                                            margin-top: 0px;
                                            text-align: justify;
                                        }
                                    }
                                    .property_general_information{
                                        padding-left: 10px;
                                        width: 40%;
                                        .d_title{
                                            border-bottom: 1px solid #8A8A8A;
                                            border-top: 1px solid #8A8A8A;
                                            float: left;
                                            font-size: 15px;
                                            font-weight: bold;
                                            height: auto;
                                            margin-bottom: 10px;
                                            padding: 2px;
                                            text-align: left;
                                            text-decoration: none;
                                            text-transform: uppercase;
                                            width: 100%;
                                        }
                                        .added_field_1, .added_field_2, .added_field_3, .annual_income,
                                        .apartments_number, .building_type, .cost_per_housing, .ccd,
                                        .down_payment_required, .economic_value,  .gross_revenue_multiplier,
                                        .housing_descriptions, .item_status, .maximum_loan, .net_income_multiplier,
                                        .overall_rate_update, .property_short_description, .property_type,
                                        .property_construction_age, .property_lot_size, .property_bedrooms_number,
                                        .property_bedrooms_number, .property_has_dining_room, .property_has_fireplace,
                                        .property_has_swimming_pool, .property_has_garden, .property_has_garage{
                                            display: flex;
                                            margin-bottom: 10px;
                                            width: 100%;
                                            .key{
                                                color: #6B3038;
                                                font-family: Arial, Helvetica, sans-serif;
                                                font-size: 12px;
                                                font-weight: bold;
                                                margin-bottom: -1px;
                                                margin-right: 5px;
                                                margin-top: 0px;
                                                padding: 0px;
                                            }
                                            .value{
                                                font-size: 13px;
                                                img{
                                                    width: 1em;
                                                }
                                            }
                                        }
                                        .housing_descriptions{
                                            .value{
                                                color: #555555;
                                                display: flex;
                                                margin-top: 0px;
                                                text-align: justify;
                                            }
                                        }
                                    }
                                }
                                .property_details_to_print_photos{
                                    margin-bottom: 15px;
                                    width: 100%;
                                    .p_title{
                                        border-bottom: 1px solid #8A8A8A;
                                        border-top: 1px solid #8A8A8A;
                                        float: left;
                                        font-size: 15px;
                                        font-weight: bold;
                                        height: auto;
                                        margin-bottom: 10px;
                                        padding: 2px;
                                        text-align: left;
                                        text-decoration: none;
                                        text-transform: uppercase;
                                        width: 100%;
                                    }
                                    .photos{
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: start;
                                        width: 100%;
                                        .property_photo{
                                            margin: 7px 1%;
                                            width: 31.33%;
                                            .photo{
                                                height: 180px;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}