.newsletter-page{
    background-color: #FFF;
    float: left;
    height: auto;
    width: 100%;
    padding-bottom: 15px !important;

    @media only screen and (min-width: 320px) {
        padding: 4px;
    }

    @media only screen and (min-width: 480px) {
        padding: 6px;
    }

    @media only screen and (min-width: 640px) {
        padding: 8px;
    }

    @media only screen and (min-width: 768px) {
        padding: 12px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 14px;
    }
    .newsletter-page-content{
        width: 100%;
        .result_container{
            font-size: 17px;
            .success{
                color: #42f4a6;
            }
            .unsuccess{
                color: #f0430a;
            }
        }
        .form-group{
            float: left;
            margin-top: 20px;
            @media only screen and (min-width: 320px) {
                width: 100%;
            }

            @media only screen and (min-width: 480px) {
                width: 100%;
            }

            @media only screen and (min-width: 640px) {
                width: 100%;
            }

            @media only screen and (min-width: 768px) {
                width: 60%;
            }

            @media only screen and (min-width: 1024px) {
                width: 60%;
            }
            .form_entry{
                float: left;
                height: auto;
                margin-bottom: 5px;
                position: relative;
                width: 100%;
                label{
                    float: left;
                    height: 30px;
                    margin-bottom: 0;

                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 480px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 640px) {
                        width: 30%;
                    }

                    @media only screen and (min-width: 768px) {
                        width: 30%;
                    }

                    @media only screen and (min-width: 1024px) {
                        width: 30%;
                    }
                }
                input{
                    border: 1px solid #8A8A8A;
                    color: #555555;
                    float: left;
                    font-family: "Arial", Helvetica, sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    height: 35px;
                    line-height: 10px;
                    padding: 5px;
                    text-align: left;

                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 480px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 640px) {
                        width: 70%;
                    }

                    @media only screen and (min-width: 768px) {
                        width: 70%;
                    }

                    @media only screen and (min-width: 1024px) {
                        width: 70%;
                    }
                }
                .field_required{
                    background-color: #e3e0e0;
                    border-radius: 5px;
                    color: red;
                    @media only screen and (min-width: 320px) {
                        left: unset;
                        margin: 4px auto;
                        padding: 8px;
                        position: absolute;
                        text-align: center;
                        top: 100%;
                        width: 100%;
                        z-index: 1;
                    }

                    @media only screen and (min-width: 480px) {
                        margin: unset;
                        margin-left: 0%;
                        padding: 8px;
                        position: absolute;
                        text-align: center;
                        top: 100%;
                        width: 100%;
                        z-index: 1;
                    }

                    @media only screen and (min-width: 640px) {
                        margin: unset;
                        margin-left: 0%;
                        padding: 8px;
                        position: absolute;
                        text-align: center;
                        top: 100%;
                        width: 100%;
                        z-index: 1;
                    }

                    @media only screen and (min-width: 768px) {
                        left: 100%;
                        margin: inherit;
                        padding: 5px;
                        position: absolute;
                        right: 100%;
                        top: 0%;
                        width: max-content;
                        z-index: 100;
                    }

                    @media only screen and (min-width: 1024px) {
                        left: 100%;
                        padding: 5px;
                        position: absolute;
                        right: 100%;
                        top: 0%;
                        width: max-content;
                        z-index: 100;
                    }

                    &:before{
                        border-style: solid;
                        border-width: 6px;
                        content: "";
                        margin-top: -6px;
                        position: absolute;

                        @media only screen and (min-width: 320px) {
                            border-color: transparent transparent #e3e0e0 transparent;
                            right: 50%;
                            top: -6px;
                            transform: translateX(50%);
                        }

                        @media only screen and (min-width: 480px) {
                            border-color: transparent transparent #e3e0e0 transparent;
                            right: 50%;
                            top: -6px;
                            transform: translateX(50%);
                        }

                        @media only screen and (min-width: 640px) {
                            border-color: transparent transparent #e3e0e0 transparent;
                            right: 50%;
                            top: -6px;
                            transform: translateX(50%);
                        }

                        @media only screen and (min-width: 768px) {
                            border-color: transparent #e3e0e0 transparent transparent;
                            left: unset;
                            right: 100%;
                            top: 50%;
                            transform: unset;
                        }

                        @media only screen and (min-width: 1024px) {
                            border-color: transparent #e3e0e0 transparent transparent;
                            left: unset;
                            right: 100%;
                            top: 50%;
                            transform: unset;
                        }
                    }
                }
                &.has_error{
                    @media only screen and (min-width: 320px) {
                        margin-bottom: 45px;
                    }

                    @media only screen and (min-width: 480px) {
                        margin-bottom: 45px;
                    }

                    @media only screen and (min-width: 640px) {
                        margin-bottom: 45px;
                    }

                    @media only screen and (min-width: 768px) {
                        margin-bottom: 5px;
                    }

                    @media only screen and (min-width: 1024px) {
                        margin-bottom: 5px;
                    }
                }
            }
            .action{
                float: left;
                height: auto;
                margin-top: 20px;
                text-align: center;
                @media only screen and (min-width: 320px) {
                    width: 100%;
                }

                @media only screen and (min-width: 480px) {
                    margin-left: 0%;
                    width: 100%;
                }

                @media only screen and (min-width: 640px) {
                    margin-left: 0%;
                    width: 100%;
                }

                @media only screen and (min-width: 768px) {
                    margin-left: 30%;
                    width: 70%;
                }

                @media only screen and (min-width: 1024px) {
                    margin-left: 30%;
                    width: 70%;
                }
                input{
                    background-color: #666666;
                    border: 1px solid #8A8A8A;
                    border-radius: 15px;
                    color: #E6E6E6;
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    height: auto;
                    margin-bottom: 10px;
                    padding: 6px;
                    padding-left: 40px;
                    padding-right: 40px;
                    width: auto;
                }
            }
        }
    }
}