@media only screen and (min-width: 320px) {
  .newsletter {
    padding: 0 20px; } }

@media only screen and (min-width: 480px) {
  .newsletter {
    padding: 0 20px; } }

@media only screen and (min-width: 640px) {
  .newsletter {
    padding: 0 30px; } }

@media only screen and (min-width: 768px) {
  .newsletter {
    padding: 0 20px; } }

@media only screen and (min-width: 1024px) {
  .newsletter {
    padding: 0 30px; } }

.newsletter .newsletter_form {
  position: relative; }
  .newsletter .newsletter_form .form_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; }
  .newsletter .newsletter_form form .form-group .form_entry {
    display: flex;
    margin-bottom: 10px;
    position: relative; }
    @media only screen and (min-width: 320px) {
      .newsletter .newsletter_form form .form-group .form_entry {
        flex-wrap: wrap;
        font-size: 1rem; } }
    @media only screen and (min-width: 480px) {
      .newsletter .newsletter_form form .form-group .form_entry {
        flex-wrap: inherit;
        font-size: 14px; } }
    @media only screen and (min-width: 640px) {
      .newsletter .newsletter_form form .form-group .form_entry {
        flex-wrap: inherit;
        font-size: 1rem; } }
    @media only screen and (min-width: 768px) {
      .newsletter .newsletter_form form .form-group .form_entry {
        flex-wrap: inherit;
        font-size: 1rem; } }
    @media only screen and (min-width: 1024px) {
      .newsletter .newsletter_form form .form-group .form_entry {
        flex-wrap: inherit;
        font-size: 1rem; } }
    .newsletter .newsletter_form form .form-group .form_entry label {
      line-height: 38px;
      margin-bottom: 0;
      margin-right: 10px; }
      @media only screen and (min-width: 320px) {
        .newsletter .newsletter_form form .form-group .form_entry label {
          width: 100%; } }
      @media only screen and (min-width: 480px) {
        .newsletter .newsletter_form form .form-group .form_entry label {
          width: 85px; } }
      @media only screen and (min-width: 640px) {
        .newsletter .newsletter_form form .form-group .form_entry label {
          width: 100px; } }
      @media only screen and (min-width: 768px) {
        .newsletter .newsletter_form form .form-group .form_entry label {
          width: 100px; } }
      @media only screen and (min-width: 1024px) {
        .newsletter .newsletter_form form .form-group .form_entry label {
          width: 100px; } }
    .newsletter .newsletter_form form .form-group .form_entry input {
      background: #6f6b6b;
      border-radius: 5px;
      font-weight: bold; }
      @media only screen and (min-width: 320px) {
        .newsletter .newsletter_form form .form-group .form_entry input {
          width: 100%; } }
      @media only screen and (min-width: 480px) {
        .newsletter .newsletter_form form .form-group .form_entry input {
          width: 200px; } }
      @media only screen and (min-width: 640px) {
        .newsletter .newsletter_form form .form-group .form_entry input {
          width: 200px; } }
      @media only screen and (min-width: 768px) {
        .newsletter .newsletter_form form .form-group .form_entry input {
          width: 200px; } }
      @media only screen and (min-width: 1024px) {
        .newsletter .newsletter_form form .form-group .form_entry input {
          width: 200px; } }
    .newsletter .newsletter_form form .form-group .form_entry .field_required {
      background-color: white;
      border-radius: 5px;
      color: red; }
      @media only screen and (min-width: 320px) {
        .newsletter .newsletter_form form .form-group .form_entry .field_required {
          margin: 4px auto;
          padding: 8px;
          position: relative;
          text-align: center;
          width: 100%; } }
      @media only screen and (min-width: 480px) {
        .newsletter .newsletter_form form .form-group .form_entry .field_required {
          left: 299px;
          margin: inherit;
          padding: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: max-content;
          z-index: 100; } }
      @media only screen and (min-width: 640px) {
        .newsletter .newsletter_form form .form-group .form_entry .field_required {
          left: 314px;
          margin: inherit;
          padding: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: max-content;
          z-index: 100; } }
      @media only screen and (min-width: 768px) {
        .newsletter .newsletter_form form .form-group .form_entry .field_required {
          left: 314px;
          margin: inherit;
          padding: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: max-content;
          z-index: 100; } }
      @media only screen and (min-width: 1024px) {
        .newsletter .newsletter_form form .form-group .form_entry .field_required {
          left: 314px;
          margin: inherit;
          padding: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: max-content;
          z-index: 100; } }
      .newsletter .newsletter_form form .form-group .form_entry .field_required:before {
        border-style: solid;
        border-width: 6px;
        content: "";
        margin-top: -6px;
        position: absolute; }
        @media only screen and (min-width: 320px) {
          .newsletter .newsletter_form form .form-group .form_entry .field_required:before {
            border-color: transparent transparent #ffffff transparent;
            right: 50%;
            top: -6px;
            transform: translateX(50%); } }
        @media only screen and (min-width: 480px) {
          .newsletter .newsletter_form form .form-group .form_entry .field_required:before {
            border-color: transparent #ffffff transparent transparent;
            right: 100%;
            top: 50%;
            transform: unset; } }
        @media only screen and (min-width: 640px) {
          .newsletter .newsletter_form form .form-group .form_entry .field_required:before {
            border-color: transparent #ffffff transparent transparent;
            right: 100%;
            top: 50%;
            transform: unset; } }
        @media only screen and (min-width: 768px) {
          .newsletter .newsletter_form form .form-group .form_entry .field_required:before {
            border-color: transparent #ffffff transparent transparent;
            right: 100%;
            top: 50%;
            transform: unset; } }
        @media only screen and (min-width: 1024px) {
          .newsletter .newsletter_form form .form-group .form_entry .field_required:before {
            border-color: transparent #ffffff transparent transparent;
            right: 100%;
            top: 50%;
            transform: unset; } }
  .newsletter .newsletter_form form .form-group .action {
    text-align: center; }
    .newsletter .newsletter_form form .form-group .action input {
      background-color: #007bff;
      border: 1px solid transparent;
      border-color: #007bff;
      border-radius: .25rem;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: .375rem .75rem;
      text-align: center;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-appearance: button;
      -webkit-user-select: none; }
      .newsletter .newsletter_form form .form-group .action input:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        color: #fff; }
  .newsletter .newsletter_form .feedback {
    background-color: #b5b2b2eb;
    border-radius: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
    .newsletter .newsletter_form .feedback .close_feedback {
      background-color: #595656;
      border: 0;
      border-radius: 100%;
      color: white;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      height: 40px;
      position: absolute;
      right: 0;
      transform: translate(25%, -25%);
      width: 40px; }
    .newsletter .newsletter_form .feedback .content {
      height: calc(100% - 4em);
      margin: 2em;
      position: relative; }
      .newsletter .newsletter_form .feedback .content .message {
        font-size: 18px;
        font-weight: bold;
        text-align: center; }
      .newsletter .newsletter_form .feedback .content .action {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%); }
        .newsletter .newsletter_form .feedback .content .action button {
          background-color: #595656;
          border: 0;
          border-radius: 15px;
          color: white;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          height: 35px;
          width: 100px; }
