.links--container{
    background-color: #FFF;
    float: left;
    height: auto;
    width: 100%;
    padding-bottom: 15px !important;

    @media only screen and (min-width: 320px) {
        padding: 4px;
    }

    @media only screen and (min-width: 480px) {
        padding: 6px;
    }

    @media only screen and (min-width: 640px) {
        padding: 8px;
    }

    @media only screen and (min-width: 768px) {
        padding: 12px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 14px;
    }

    .list_links{
        color: #6E6E6E;
        float: left;

        @media only screen and (min-width: 320px) {
            margin: 4px;
            width: 304px;
        }
    
        @media only screen and (min-width: 480px) {
            margin: 6px;
            width: 456px;
        }
    
        @media only screen and (min-width: 640px) {
            margin: 8px;
            width: 346px;
        }
    
        @media only screen and (min-width: 768px) {
            margin: 12px;
            width: 450px;
        }
    
        @media only screen and (min-width: 1024px) {
            margin: 14px;
            width: 553px;
        }
        .usefullinks{
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            margin: .5rem 0 1rem 0;
        }
    }

    .list_guides{
        color: #6E6E6E;
        float: left;

        @media only screen and (min-width: 320px) {
            margin: 4px;
            width: 304px;
        }
    
        @media only screen and (min-width: 480px) {
            margin: 6px;
            width: 456px;
        }
    
        @media only screen and (min-width: 640px) {
            margin: 8px;
            width: 246px;
        }
    
        @media only screen and (min-width: 768px) {
            margin: 12px;
            width: 246px;
        }
    
        @media only screen and (min-width: 1024px) {
            margin: 14px;
            width: 387px;
        }

        .links_img{
            border-radius: 11px;
            box-shadow: 0px 5px 10px 11px #eae9e9ad;
            margin-top: 15px;
            max-width: 360px;
            padding: 10px;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}