.funding{
    border: 1px solid gray;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-right: inherit;
    width: 100%;
    @media only screen and (min-width: 320px) {
    }

    @media only screen and (min-width: 480px) {
    }

    @media only screen and (min-width: 640px) {
    }

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1024px) {
    }
    .name_el{
        background-color: #c1bebe;
        border-radius: 15px 15px 0 0;
        display: flex;
        padding: 7px;
        width: 100%;
        .initials{
            border-radius: 100%;
            font-size: 22px;
            font-weight: bold;
            height: 40px;
            line-height: 40px;
            margin-right: 15px;
            text-transform: uppercase;
            text-align: center;
            width: 40px;
        }
        .funding_image{
            border-radius: 100%;
            font-size: 22px;
            font-weight: bold;
            margin-right: 15px;
            text-transform: uppercase;
            text-align: center;
            @media only screen and (min-width: 320px) {
                height: 40px;
                line-height: 40px;
                width: 40px;
            }

            @media only screen and (min-width: 480px) {
                height: 50px;
                line-height: 50px;
                width: 50px;
            }

            @media only screen and (min-width: 640px) {
                height: 60px;
                line-height: 60px;
                width: 60px;
            }

            @media only screen and (min-width: 768px) {
                height: 70px;
                line-height: 70px;
                width: 70px;
            }

            @media only screen and (min-width: 1024px) {
                height: 80px;
                line-height: 80px;
                width: 80px;
            }
            img{
                border-radius: 50%;
                height: 100%;
                width: 100%;
            }
        }
        .name{
            text-transform: capitalize;
            width: calc(100% - 55px);
            @media only screen and (min-width: 320px) {
                font-size: 22px;
                line-height: 40px;
            }

            @media only screen and (min-width: 480px) {
                font-size: 24px;
                line-height: 50px;
            }

            @media only screen and (min-width: 640px) {
                font-size: 26px;
                line-height: 60px;
            }

            @media only screen and (min-width: 768px) {
                font-size: 28px;
                line-height: 70px;
            }

            @media only screen and (min-width: 1024px) {
                font-size: 30px;
                line-height: 80px;
            }
        }
        .send_funding_email_btn{
            button{
                border: 0;
                border-radius: 50%;
                @media only screen and (min-width: 320px) {
                    font-size: 8px;
                    height: 40px;
                    width: 40px;
                }

                @media only screen and (min-width: 480px) {
                    font-size: 10px;
                    height: 50px;
                    width: 50px;
                }

                @media only screen and (min-width: 640px) {
                    font-size: 12px;
                    height: 60px;
                    width: 60px;
                }

                @media only screen and (min-width: 768px) {
                    font-size: 16px;
                    height: 70px;
                    width: 70px;
                }

                @media only screen and (min-width: 1024px) {
                    font-size: 18px;
                    height: 80px;
                    width: 80px;
                }
            }
        }
    }
    .funding_content{
        padding: 7px;
        text-align: justify;
        width: 100%;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    .funding_time_el{
        color: gray;
        display: flex;
        font-size: 15px;
        font-weight: bold;
        justify-content: flex-end;
        padding: 7px;
        width: 100%;
        .funding_city{
            margin-right: 5px; 
        }
    }
}

.actions{
    text-align: center;
    width: 100%;
    button{
        background-color: #25bed5;
        margin: 0 10px;
    }
}