.contact_sell_form{
    background-color: #ece9db;
    position: relative;
    @media only screen and (min-width: 320px) {
    }

    @media only screen and (min-width: 480px) {
    }

    @media only screen and (min-width: 640px) {
    }

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1024px) {
    }
    .form_title{
        color: #6E6E6E;
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    form{
        float: left;
        height: auto;
        width: 100%;
        .form-group{
            .form_entry{
                float: left;
                height: auto;
                margin-bottom: 5px;
                position: relative;
                width: 100%;
                label{
                    float: left;
                    height: 30px;
                    margin-bottom: 0;
    
                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }
                
                    @media only screen and (min-width: 480px) {
                        width: 30%;
                    }
                
                    @media only screen and (min-width: 640px) {
                        width: 30%;
                    }
                
                    @media only screen and (min-width: 768px) {
                        width: 100%;
                    }
                
                    @media only screen and (min-width: 1024px) {
                        width: 100%;
                    }
                }
                input, textarea{
                    border: 1px solid #8A8A8A;
                    color: #555555;
                    float: left;
                    font-family: "Arial", Helvetica, sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    padding: 5px;
                    text-align: left;
    
                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }
                
                    @media only screen and (min-width: 480px) {
                        width: 70%;
                    }
                
                    @media only screen and (min-width: 640px) {
                        width: 70%;
                    }
                
                    @media only screen and (min-width: 768px) {
                        width: 100%;
                    }
                
                    @media only screen and (min-width: 1024px) {
                        width: 100%;
                    }
                }
                .react-tel-input{
                    float: left;

                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 480px) {
                        width: 70%;
                    }

                    @media only screen and (min-width: 640px) {
                        width: 70%;
                    }

                    @media only screen and (min-width: 768px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 1024px) {
                        width: 100%;
                    }
                    input{
                        width: 100%;
                    }
                }
                input{
                    height: 35px;
                    line-height: 10px;
                }
                .field_required{
                    background-color: #e3e0e0;
                    border-radius: 5px;
                    color: red;
                    top: 30px;
                    @media only screen and (min-width: 320px) {
                        left: unset;
                        margin: 4px auto;
                        padding: 8px;
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        z-index: 1;
                    }
                
                    @media only screen and (min-width: 480px) {
                        margin: unset;
                        margin-left: 30%;
                        padding: 8px;
                        position: absolute;
                        text-align: center;
                        width: 70%;
                        z-index: 1;
                    }
                
                    @media only screen and (min-width: 640px) {
                        margin: unset;
                        margin-left: 30%;
                        padding: 8px;
                        position: absolute;
                        text-align: center;
                        width: 70%;
                        z-index: 1;
                    }
                
                    @media only screen and (min-width: 768px) {
                        left: unset;
                        margin: inherit;
                        padding: 5px;
                        position: absolute;
                        right: 100%;
                        width: max-content;
                        z-index: 100;
                    }
                
                    @media only screen and (min-width: 1024px) {
                        left: unset;
                        margin: inherit;
                        padding: 5px;
                        position: absolute;
                        right: 100%;
                        width: max-content;
                        z-index: 100;
                    }

                    &:before{
                        border-style: solid;
                        border-width: 6px;
                        content: "";
                        margin-top: -6px;
                        position: absolute;
                                
                        @media only screen and (min-width: 320px) {
                            border-color: transparent transparent #e3e0e0 transparent;
                            right: 50%;
                            top: -6px;
                            transform: translateX(50%);
                        }
    
                        @media only screen and (min-width: 480px) {
                            border-color: transparent transparent #e3e0e0 transparent;
                            right: 50%;
                            top: -6px;
                            transform: translateX(50%);
                        }
    
                        @media only screen and (min-width: 640px) {
                            border-color: transparent transparent #e3e0e0 transparent;
                            right: 50%;
                            top: -6px;
                            transform: translateX(50%);
                        }
    
                        @media only screen and (min-width: 768px) {
                            border-color: transparent transparent transparent #e3e0e0;
                            left: 100%;
                            right: 100%;
                            top: 50%;
                            transform: unset;
                        }
    
                        @media only screen and (min-width: 1024px) {
                            border-color: transparent transparent transparent #e3e0e0;
                            left: 100%;
                            right: 100%;
                            top: 50%;
                            transform: unset;
                        }
                    }
                }
                &.message{
                    .field_required{
                        top: calc(50% + 15px);
    
                        @media only screen and (min-width: 320px) {
                        }
                    
                        @media only screen and (min-width: 480px) {
                            transform: translateY(-50%);
                        }
                    
                        @media only screen and (min-width: 640px) {
                            transform: translateY(-50%);
                        }
                    
                        @media only screen and (min-width: 768px) {
                            transform: translateY(-50%);
                        }
                    
                        @media only screen and (min-width: 1024px) {
                            transform: translateY(-50%);
                        }
                    }
                }
                &.has_error{
                    @media only screen and (min-width: 320px) {
                        height: 70px;
                    }
                
                    @media only screen and (min-width: 480px) {
                        height: 70px;
                    }
                
                    @media only screen and (min-width: 640px) {
                        height: 70px;
                    }
                
                    @media only screen and (min-width: 768px) {
                        height: auto;
                    }
                
                    @media only screen and (min-width: 1024px) {
                        height: auto;
                    }
                }
            }
            .action{
                float: left;
                height: auto;
                text-align: center;
                @media only screen and (min-width: 320px) {
                    width: 100%;
                }
            
                @media only screen and (min-width: 480px) {
                    margin-left: 30%;
                    width: 70%;
                }
            
                @media only screen and (min-width: 640px) {
                    margin-left: 30%;
                    width: 70%;
                }
            
                @media only screen and (min-width: 768px) {
                    margin-left: 0%;
                    width: 100%;
                }
            
                @media only screen and (min-width: 1024px) {
                    margin-left: 0%;
                    width: 100%;
                }
                input{
                    background-color: #666666;
                    border: 1px solid #8A8A8A;
                    border-radius: 15px;
                    color: #E6E6E6;
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    height: auto;
                    margin-bottom: 10px;
                    padding: 6px;
                    padding-left: 40px;
                    padding-right: 40px;
                    width: auto;
                }
            }
        }
    }
    .feedback{
        background-color: #b5b2b2eb;
        border-radius: 15px;
        height: 40%;
        left: 0;
        position: absolute;
        top: 30%;
        width: 100%;
        z-index: 100;
        .close_feedback{
            background-color: #595656;
            border: 0;
            border-radius: 100%;
            color: white;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            height: 40px;
            position: absolute;
            right: 0;
            transform: translate(25%, -25%);
            width: 40px;
        }
        .content_{
            height: calc(100% - 4em);
            margin: 2em;
            position: relative;
            .message{
                font-size: 18px;
                font-weight: bold;
                text-align: center
            }
            .action{
                bottom: 0;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                button{
                    background-color: #595656;
                    border: 0;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: bold;
                    height: 35px;
                    width: 100px;
                }
            }
        }
    }
    &.contact_page{
        border: 1px solid #8A8A8A;
        float: right;
        padding: 15px;
        @media only screen and (min-width: 320px) {
            margin: 4px;
            width: 304px;
        }

        @media only screen and (min-width: 480px) {
            margin: 6px;
            width: 456px;
        }

        @media only screen and (min-width: 640px) {
            margin: 5px 8px;
            width: 608px;
        }

        @media only screen and (min-width: 768px) {
            margin: 12px;
            width: 348px;
        }

        @media only screen and (min-width: 1024px) {
            margin: 14px;
            width: 470px;
        }
        form{
            float: left;
            height: auto;
            width: 100%;
            .form-group{
                .form_entry{
                    float: left;
                    height: auto;
                    margin-bottom: 5px;
                    position: relative;
                    width: 100%;
                    label{
                        float: left;
                        height: 30px;
                        margin-bottom: 0;
        
                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }
                    
                        @media only screen and (min-width: 480px) {
                            width: 30%;
                        }
                    
                        @media only screen and (min-width: 640px) {
                            width: 30%;
                        }
                    
                        @media only screen and (min-width: 768px) {
                            width: 100%;
                        }
                    
                        @media only screen and (min-width: 1024px) {
                            width: 100%;
                        }
                    }
                    input, textarea{
                        border: 1px solid #8A8A8A;
                        color: #555555;
                        float: left;
                        font-family: "Arial", Helvetica, sans-serif;
                        font-size: 15px;
                        font-weight: normal;
                        padding: 5px;
                        text-align: left;
        
                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }
                    
                        @media only screen and (min-width: 480px) {
                            width: 70%;
                        }
                    
                        @media only screen and (min-width: 640px) {
                            width: 70%;
                        }
                    
                        @media only screen and (min-width: 768px) {
                            width: 100%;
                        }
                    
                        @media only screen and (min-width: 1024px) {
                            width: 100%;
                        }
                    }
                    input{
                        height: 35px;
                        line-height: 10px;
                    }
                    .react-tel-input{
                        float: left;

                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 480px) {
                            width: 70%;
                        }

                        @media only screen and (min-width: 640px) {
                            width: 70%;
                        }

                        @media only screen and (min-width: 768px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 1024px) {
                            width: 100%;
                        }
                        input{
                            padding-left: 45px;
                            width: 100%;
                        }
                    }
                    .field_required{
                        background-color: #e3e0e0;
                        border-radius: 5px;
                        color: red;
                        top: 30px;
                        @media only screen and (min-width: 320px) {
                            left: unset;
                            margin: 4px auto;
                            padding: 8px;
                            position: absolute;
                            text-align: center;
                            width: 100%;
                            z-index: 1;
                        }
                    
                        @media only screen and (min-width: 480px) {
                            margin: unset;
                            margin-left: 30%;
                            padding: 8px;
                            position: absolute;
                            text-align: center;
                            width: 70%;
                            z-index: 1;
                        }
                    
                        @media only screen and (min-width: 640px) {
                            margin: unset;
                            margin-left: 30%;
                            padding: 8px;
                            position: absolute;
                            text-align: center;
                            width: 70%;
                            z-index: 1;
                        }
                    
                        @media only screen and (min-width: 768px) {
                            left: unset;
                            margin: inherit;
                            padding: 5px;
                            position: absolute;
                            right: 100%;
                            width: max-content;
                            z-index: 100;
                        }
                    
                        @media only screen and (min-width: 1024px) {
                            left: unset;
                            margin: inherit;
                            padding: 5px;
                            position: absolute;
                            right: 100%;
                            width: max-content;
                            z-index: 100;
                        }
    
                        &:before{
                            border-style: solid;
                            border-width: 6px;
                            content: "";
                            margin-top: -6px;
                            position: absolute;
                                    
                            @media only screen and (min-width: 320px) {
                                border-color: transparent transparent #e3e0e0 transparent;
                                right: 50%;
                                top: -6px;
                                transform: translateX(50%);
                            }
        
                            @media only screen and (min-width: 480px) {
                                border-color: transparent transparent #e3e0e0 transparent;
                                right: 50%;
                                top: -6px;
                                transform: translateX(50%);
                            }
        
                            @media only screen and (min-width: 640px) {
                                border-color: transparent transparent #e3e0e0 transparent;
                                right: 50%;
                                top: -6px;
                                transform: translateX(50%);
                            }
        
                            @media only screen and (min-width: 768px) {
                                border-color: transparent transparent transparent #e3e0e0;
                                left: 100%;
                                right: 100%;
                                top: 50%;
                                transform: unset;
                            }
        
                            @media only screen and (min-width: 1024px) {
                                border-color: transparent transparent transparent #e3e0e0;
                                left: 100%;
                                right: 100%;
                                top: 50%;
                                transform: unset;
                            }
                        }
                    }
                    &.message{
                        .field_required{
                            top: calc(50% + 15px);
        
                            @media only screen and (min-width: 320px) {
                            }
                        
                            @media only screen and (min-width: 480px) {
                                transform: translateY(-50%);
                            }
                        
                            @media only screen and (min-width: 640px) {
                                transform: translateY(-50%);
                            }
                        
                            @media only screen and (min-width: 768px) {
                                transform: translateY(-50%);
                            }
                        
                            @media only screen and (min-width: 1024px) {
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &.has_error{
                        @media only screen and (min-width: 320px) {
                            height: 70px;
                        }
                    
                        @media only screen and (min-width: 480px) {
                            height: 70px;
                        }
                    
                        @media only screen and (min-width: 640px) {
                            height: 70px;
                        }
                    
                        @media only screen and (min-width: 768px) {
                            height: auto;
                        }
                    
                        @media only screen and (min-width: 1024px) {
                            height: auto;
                        }
                    }
                }
                .action{
                    float: left;
                    height: auto;
                    text-align: center;
                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }
                
                    @media only screen and (min-width: 480px) {
                        margin-left: 30%;
                        width: 70%;
                    }
                
                    @media only screen and (min-width: 640px) {
                        margin-left: 30%;
                        width: 70%;
                    }
                
                    @media only screen and (min-width: 768px) {
                        margin-left: 0%;
                        width: 100%;
                    }
                
                    @media only screen and (min-width: 1024px) {
                        margin-left: 0%;
                        width: 100%;
                    }
                    input{
                        background-color: #666666;
                        border: 1px solid #8A8A8A;
                        border-radius: 15px;
                        color: #E6E6E6;
                        font-family: Verdana, Geneva, sans-serif;
                        font-size: 16px;
                        font-weight: bold;
                        height: auto;
                        margin-bottom: 10px;
                        padding: 6px;
                        padding-left: 40px;
                        padding-right: 40px;
                        width: auto;
                    }
                }
            }
        }
    }
    &.sell_page{
        border: 1px solid #8A8A8A;
        float: left;
        padding: 15px;
        @media only screen and (min-width: 320px) {
            margin: 4px calc(50% - 152px);
            width: 304px;
        }

        @media only screen and (min-width: 480px) {
            margin: 6px calc(50% - 228px);
            width: 456px;
        }

        @media only screen and (min-width: 640px) {
            margin: 5px calc(50% - 304px);
            width: 608px;
        }

        @media only screen and (min-width: 768px) {
            margin: 12px calc(50% - 174px);
            width: 348px;
        }

        @media only screen and (min-width: 1024px) {
            margin: 14px calc(50% - 235px);
            width: 470px;
        }
        form{
            float: left;
            height: auto;
            width: 100%;
            .form-group{
                .form_entry{
                    float: left;
                    height: auto;
                    margin-bottom: 5px;
                    position: relative;
                    width: 100%;
                    label{
                        float: left;
                        height: 30px;
                        margin-bottom: 0;

                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 480px) {
                            width: 30%;
                        }

                        @media only screen and (min-width: 640px) {
                            width: 30%;
                        }

                        @media only screen and (min-width: 768px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 1024px) {
                            width: 100%;
                        }
                    }
                    input, textarea{
                        border: 1px solid #8A8A8A;
                        color: #555555;
                        float: left;
                        font-family: "Arial", Helvetica, sans-serif;
                        font-size: 15px;
                        font-weight: normal;
                        padding: 5px;
                        text-align: left;

                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 480px) {
                            width: 70%;
                        }

                        @media only screen and (min-width: 640px) {
                            width: 70%;
                        }

                        @media only screen and (min-width: 768px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 1024px) {
                            width: 100%;
                        }
                    }
                    input{
                        height: 35px;
                        line-height: 10px;
                    }
                    .react-tel-input{
                        float: left;

                        @media only screen and (min-width: 320px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 480px) {
                            width: 70%;
                        }

                        @media only screen and (min-width: 640px) {
                            width: 70%;
                        }

                        @media only screen and (min-width: 768px) {
                            width: 100%;
                        }

                        @media only screen and (min-width: 1024px) {
                            width: 100%;
                        }
                        input{
                            padding-left: 45px;
                            width: 100%;
                        }
                    }
                    .field_required{
                        background-color: #e3e0e0;
                        border-radius: 5px;
                        color: red;
                        top: 30px;
                        @media only screen and (min-width: 320px) {
                            left: unset;
                            margin: 4px auto;
                            padding: 8px;
                            position: absolute;
                            text-align: center;
                            width: 100%;
                            z-index: 1;
                        }

                        @media only screen and (min-width: 480px) {
                            margin: unset;
                            margin-left: 30%;
                            padding: 8px;
                            position: absolute;
                            text-align: center;
                            width: 70%;
                            z-index: 1;
                        }

                        @media only screen and (min-width: 640px) {
                            margin: unset;
                            margin-left: 30%;
                            padding: 8px;
                            position: absolute;
                            text-align: center;
                            width: 70%;
                            z-index: 1;
                        }

                        @media only screen and (min-width: 768px) {
                            left: 100%;
                            margin: inherit;
                            padding: 5px;
                            position: absolute;
                            width: max-content;
                            z-index: 100;
                        }

                        @media only screen and (min-width: 1024px) {
                            left: 100%;
                            margin: inherit;
                            padding: 5px;
                            position: absolute;
                            width: max-content;
                            z-index: 100;
                        }

                        &:before{
                            border-style: solid;
                            border-width: 6px;
                            content: "";
                            margin-top: -6px;
                            position: absolute;

                            @media only screen and (min-width: 320px) {
                                border-color: transparent transparent #e3e0e0 transparent;
                                right: 50%;
                                top: -6px;
                                transform: translateX(50%);
                            }

                            @media only screen and (min-width: 480px) {
                                border-color: transparent transparent #e3e0e0 transparent;
                                right: 50%;
                                top: -6px;
                                transform: translateX(50%);
                            }

                            @media only screen and (min-width: 640px) {
                                border-color: transparent transparent #e3e0e0 transparent;
                                right: 50%;
                                top: -6px;
                                transform: translateX(50%);
                            }

                            @media only screen and (min-width: 768px) {
                                border-color: transparent #e3e0e0 transparent transparent;
                                left: unset;
                                right: 100%;
                                top: 50%;
                                transform: unset;
                            }

                            @media only screen and (min-width: 1024px) {
                                border-color: transparent #e3e0e0 transparent transparent;
                                left: unset;
                                right: 100%;
                                top: 50%;
                                transform: unset;
                            }
                        }
                    }
                    &.message{
                        .field_required{
                            top: calc(50% + 15px);

                            @media only screen and (min-width: 320px) {
                            }

                            @media only screen and (min-width: 480px) {
                                transform: translateY(-50%);
                            }

                            @media only screen and (min-width: 640px) {
                                transform: translateY(-50%);
                            }

                            @media only screen and (min-width: 768px) {
                                transform: translateY(-50%);
                            }

                            @media only screen and (min-width: 1024px) {
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &.has_error{
                        @media only screen and (min-width: 320px) {
                            height: 70px;
                        }

                        @media only screen and (min-width: 480px) {
                            height: 70px;
                        }

                        @media only screen and (min-width: 640px) {
                            height: 70px;
                        }

                        @media only screen and (min-width: 768px) {
                            height: auto;
                        }

                        @media only screen and (min-width: 1024px) {
                            height: auto;
                        }
                    }
                }
                .action{
                    float: left;
                    height: auto;
                    text-align: center;
                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }

                    @media only screen and (min-width: 480px) {
                        margin-left: 30%;
                        width: 70%;
                    }

                    @media only screen and (min-width: 640px) {
                        margin-left: 30%;
                        width: 70%;
                    }

                    @media only screen and (min-width: 768px) {
                        margin-left: 0%;
                        width: 100%;
                    }

                    @media only screen and (min-width: 1024px) {
                        margin-left: 0%;
                        width: 100%;
                    }
                    input{
                        background-color: #666666;
                        border: 1px solid #8A8A8A;
                        border-radius: 15px;
                        color: #E6E6E6;
                        font-family: Verdana, Geneva, sans-serif;
                        font-size: 16px;
                        font-weight: bold;
                        height: auto;
                        margin-bottom: 10px;
                        padding: 6px;
                        padding-left: 40px;
                        padding-right: 40px;
                        width: auto;
                    }
                }
            }
        }
    }
}