@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.hidden{
    display: none;
}

.page_content {
    margin: 0 auto;
    width: 100%;
}

.body{
    position: relative;
    background: -moz-linear-gradient(top, #CCCCCC 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #CCCCCC 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #CCCCCC 0%,#ffffff 100%);
    background: #CCCCCC;
    background-size: 100% 111%;
    background-position: top center;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#ffffff',GradientType=0 );
    float: left;
    width: 100%;
}

.body .content{
    background-color: #FFF;
    margin: 0 auto;
    min-width: 320px;
}

@media only screen and (min-width: 320px) {
    .body .content{
        min-height: 300px;
        width: 320px;
    }
}

@media only screen and (min-width: 480px) {
    .body .content{
        min-height: 350px;
        width: 480px;
    }
}

@media only screen and (min-width: 640px) {
    .body .content{
        min-height: 350px;
        width: 640px;
    }
}

@media only screen and (min-width: 768px) {
    .body .content{
        min-height: 450px;
        width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .body .content{
        min-height: 450px;
        width: 1024px;
    }
}
